{% extends './layout.njk' %}

{% block content %}
<div class="divForm">
  <h1 class="headForm">To apply for a job, fill the form</h1>
  <form id="main">
    <fieldset id="f1">
    </fieldset>
    <button id="b1" class="another">+</button>

    <fieldset class="f2">
      <input
          class="apply"
          type="text"
          name="fromDate"
          pattern="[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|1[0-9]|2[0-9]|3[01])"
          id="#"
          placeholder="Available from yyyy-mm-dd"
          required
      />
      <input
          class="apply"
          type="text"
          name="toDate"
          pattern="[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|1[0-9]|2[0-9]|3[01])"
          id="#"
          placeholder="Available to yyyy-mm-dd"
          required
      />
    </fieldset>
    <button id="b2" class="another">+</button>

  </form>
  <button class="logReg">Done</button>
</div>

<script>
  const f1_opts = [
    'exp1',
    'exp2',
    'exp3',
    'exp4',
  ];
  const f1_select = jQuery(
    '<select></select>',
    {
      class: 'apply',
      id: '#',
      required: 'required',
    }
  );
  f1_opts.forEach((f1_opt) => {;
    let f1_select_opt = jQuery(
      '<option></option>',
      {
        value: f1_opt,
        text: f1_opt,
      }
    );
    f1_select.append(f1_select_opt);
  });
  const f1_input = jQuery(
    '<input/>',
    {
      class: 'apply',
      type: 'text',
      name: 'experience',
      placeholder: 'Years of experience',
      required: 'required',
    }
  );

  function f1_select_change_func() {
    let used = new Set;
    $('#f1 select').each(function() {
      let reset = false;
      $('option', this).each(function() {
        let hide = used.has($(this).val());
        if (hide && $(this).is(':selected')) reset = true;
        $(this).prop('hidden', hide);
      });
      if (reset) $('option:not([hidden]):first', this).prop('selected', true);
      used.add($('option:selected', this).val());
      //console.log(used);
    });
  };

  f1_select.change(f1_select_change_func);
  $('#f1').append(f1_select).append(f1_input);

  $('#b1').on('click', function (event) {
    event.preventDefault();
    f1_select_clone = f1_select.clone();
    f1_select_clone.change(f1_select_change_func);
    f1_input_clone = f1_input.clone();
    $('#f1').append(f1_select_clone).append(f1_input_clone);
    f1_select.trigger('change');
    return;
  })
</script>
{% endblock %}
