{% extends './layout.njk' %}

{% block content %}
<div class="divForm">
  <h1 class="headForm">To apply for a job, fill the form</h1>
  <form id="main">

    <fieldset id="f1"></fieldset>

    <button id="b1" class="another">+</button>

    <fieldset id="f2"></fieldset>

    <button id="b2" class="another">+</button>

  </form>
  <button class="logReg">Done</button>
</div>
{% endblock %}
