{% extends './layout.njk' %}

{% block content %}
    <div>
        <h1>Temp User Home</h1>
        <p>Username: {{ user.USERNAME }}</p>
        <p>RoleID: {{ user.ROLE_ID }}</p>
    </div>
{% endblock %}