{% extends './layout.njk' %}

{% block content %}
<div class="form">
  <form class="loginForm" method="POST">
    <input type="text"      name="username" placeholder="Username"/>
    <input type="password"  name="password" placeholder="Password"/>
    <button>LOGIN</button>
    <p class="message">Not registered? <a href="register">Create an account</a></p>
  </form>
</div>
{% endblock %}
