<!DOCTYPE html>
<html lang="en">
	<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Recruitment Application</title>
        <!-- custom font -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
        <!-- reset css stylesheet -->
        <link rel="stylesheet" type="text/css" href="/static/css/reset.css">
        <!-- create css stylesheet  -->
        <link rel="stylesheet" type="text/css" href="/static/css/stylesheet.css">

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
        <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous">
        </script>
				<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    </head>

    <body>
        {% block content %}
        {% endblock %}
    </body>
		<script type="text/javascript" src="./static/js/apply.js"></script>
</html>
